@font-face {
    font-family: Ranches;
    src: url(Ranchers-Regular.ttf);
}

#main {
    background: #EC5454;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px ;
    align-items: center
}
#leftmenu {
    font-size: 20px;
    font-family: Ranches;
    display: flex;
    gap: 30px;
}
#rightmenu {
    display: flex;
    gap: 30px;
    align-items: center
}
#search {
    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
    gap: 30px;
    /*padding: 5px 20px 5px 20px;*/
    width: 500px;
    /*height: 50px;*/
}
#tags {
    border: 3px solid white;
    border-radius: 20px;
    font-family: Ranches;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px
}
.recipe {
    width: 330px;
    height: 400px;
    border: 2px solid #EC5454;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    overflow: hidden;
}
.author {
    display: flex;
    gap: 5px;
    align-items: center;
}
.recipe-title {
    font-size: 25px;
    font-weight: 700;
    font-family: Roboto;
}
.recipe-desc {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
}
#lupa {
    padding-left: 10px;
}

#recipes {
    height: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#body {
    height: 100vh;
    padding-top: 0;
    padding-bottom: 0;
}

#addform {
    box-shadow: 11px 11px 39px 0px rgba(0,0,0,0.28);
    border-radius: 7px;
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translateX(-50%) translateY(-50%);*/
    position: fixed;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    width: 900px;
    height: 900px;
    background: white;
    border: 2px solid #EC5454;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.form-element {
    display: flex;
    width: 80%;
    flex-direction: column;
}


#saveButton {
    background: white;
    border: 2px solid #EC5454;
    height: 40px;
}

#closeButton {
    background: white;
    border: 2px solid #EC5454;
    height: 40px;
}
.fa-solid {

    height: 40px;
}

.modal-buttons {
    align-self: end;
    padding-right: 70px;
    display: flex;
    gap: 20px;
}

.stars img {
    width: 20px;
}

.regform {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.field {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.field input {
    height: 30px;
}