@font-face {
    font-family: Ranches;
    src: url(Ranchers-Regular.ttf);
}

#main {
    background: #EC5454;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 0px 15px ;
    align-items: center
}
#leftmenu {
    font-size: 20px;
    font-family: Ranches;
    display: flex;
    gap: 30px;
}
#rightmenu {
    display: flex;
    gap: 30px;
    align-items: center
}
#search {
    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 20px;
    gap: 30px;
    /*padding: 5px 20px 5px 20px;*/
    width: 500px;
    /*height: 50px;*/
}
#tags {
    border: 3px solid white;
    border-radius: 20px;
    font-family: Ranches;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 22px
}
.recipe {
    width: 320px;
    height: 400px;
    border: 2px solid #EC5454;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    overflow: hidden;
}
.author {
    display: flex;
    gap: 5px;
    align-items: center;
}
.recipe-title {
    font-size: 25px;
    font-weight: 700;
    font-family: Roboto;
}
.recipe-desc {
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
}
#lupa {
    padding-left: 10px;
}

#recipes {
    height: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

#body {
    height: 100vh;
}