<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/editormd/css/editormd.css"/>
</head>
<body style="height: 100%; padding: 0; display: flex; justify-content: center">
<form action="/recipe/add" id="addform" style="height: 100%">
    <div style="display: flex; flex-direction: column; width: 100%">
        <div class="form-group" style="width: 100%">
            <label>Назва</label>
            <input name="name" class="form-control" type="text">
        </div>
        <div class="form-group" style="width: 100%">
            <label>Опис</label>
            <textarea class="form-control" name="description"></textarea>
        </div>
        <div class="form-group" style="width: 100%">
            <label>Посилання на картинку</label>
            <input class="form-control" name="image" type="text">
        </div>
        <div class="form-group" style="width: 100%">
            <label>Інгрідієнти (через кому)</label>
            <input class="form-control" name="ingridients" type="text">
        </div>

    </div>
    <div id="test-editor" style="width: 100%; flex-grow: 1">
            <textarea>### Editor.md

            </textarea>
    </div>
    <input type="hidden" name="rating" value="0.0">
    <div class="modal-buttons">
        <button type="submit" class="btn btn-primary">Зберегти</button>
        <button class="btn btn-danger" onclick="closeForm()">Відмінити</button>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/editormd/editormd.js"></script>
<script type="text/javascript">
    $(function () {
        var editor = editormd("test-editor", {
            // width  : "100%",
            // height : "100%",
            saveHTMLToTextarea: true,
            path: "/editormd/lib/"
        });
    });
</script>
</body>
</html>