<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet"
          integrity="sha384-oOE/3m0LUMPub4kaC09mrdEhIc+e3exm4xOGxAmuFXhBNF4hcg/6MiAXAf5p0P56" crossorigin="anonymous"/>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="editormd/css/editormd.css"/>

</head>
<body style="margin: 0" id="body">
<div id="main">
    <div id="leftmenu">
        <img src="Vector.svg" height="20px" alt="">
        <div>Cooking.Club</div>
        <img src="Vector%201.svg" alt="">
    </div>
    <div id="rightmenu">

        <a th:if="${user == 'guest'}" href="/login"><img src="Vector3.svg" height="25px" alt=""></a>
        <img th:if="${user != 'guest'}" th:src="'https://avatar.iran.liara.run/public/'+${(user.hashCode() % 25) + 1}" height="25px" alt="">
        <div id="search">
            <img src="Vector4.svg" id="lupa">
            <div style="font-size: 16px">Пошук</div>
        </div>
        <button ONCLICK="showDialog()">
            +
        </button>
    </div>
</div>

<div style="margin: 20px" id="recipes">
    <div th:each="recipe : ${recipes}" class="recipe" th:id="${recipeStat.index}">
        <img style="height: 200px"
             th:src="${recipe.image}"
             alt="">
        <div class="recipe-inner">
            <div class="author">
                <img style="width: 50px; border-radius: 150px"
                     src="https://s3-alpha-sig.figma.com/img/23ac/d8e1/1a66b20efc0e5e7719518a7e80e3dd5a?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=FsrWLDANTE1muyKbNU8ZtOTq4U~VdKMNGOMcSWdAUzacg51Gwuqau-vUhBQTqqMBcP9JAv4XRb61z8WPCSPEj6cxYKwUHpRsiOYI4FoRCIdUUeL1Gc7ivnPvM6OocBGiikes7EOpNSIlFLObZhw5j34UiMxSNzB1DEuTn001zYTwTg7VR8n4sq1lAF4rc~Zl92oMHGiUAs3mUzIDidtx3HsCuNT7LgaLP1-ebNNX0f6ehNMLNEv875JGhPumYhfzvhLkGZ-ru2U5M8zFJTgdTjObb1jNUJrtRiFJhEmRjGrrFvZ~4~GjCIe8U4SZMKTs-gHyLSallWQhH6O4K48kVg__"
                     alt="">
                Bananana
                <div style="height: 30px" class="stars">
                    <img th:if="${recipe.rating} > 1.0" src="Star.svg" alt="">
                    <img th:unless="${recipe.rating} > 1.0" src="Star_empty.svg" alt="">
                    <img th:if="${recipe.rating} > 2.0" src="Star.svg" alt="">
                    <img th:unless="${recipe.rating} > 2.0" src="Star_empty.svg" alt="">
                    <img th:if="${recipe.rating} > 3.0" src="Star.svg" alt="">
                    <img th:unless="${recipe.rating} > 3.0" src="Star_empty.svg" alt="">
                    <img th:if="${recipe.rating} > 4.0" src="Star.svg" alt="">
                    <img th:unless="${recipe.rating} > 4.0" src="Star_empty.svg" alt="">
                    <img th:if="${recipe.rating} > 5.0" src="Star.svg" alt="">
                    <img th:unless="${recipe.rating} > 5.0" src="Star_empty.svg" alt="">
                </div>
            </div>
            <div th:text="${recipe.name}" class="recipe-title" name></div>
            <div th:text="${recipe.description}" class="recipe-desc"></div>
        </div>
    </div>
</div>

<script>
    // var index = 0;
    for (let rec of document.getElementsByClassName("recipe")) {
        rec.addEventListener('click', (e) => {
            console.log("clicked on ", rec.id)
            window.location = '/recipe?number=' + (parseInt(rec.id) + 1)
        })
    }

    function showDialog() {
        document.location = '/recipe/create'
    }

    function closeForm() {
        document.getElementById("addform").style.visibility = 'hidden'
    }

</script>
<script src="https://kit.fontawesome.com/89a549f415.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="editormd/editormd.js"></script>
<script type="text/javascript">
    $(function () {
        var editor = editormd("test-editor", {
            // width  : "100%",
            // height : "100%",
            saveHTMLToTextarea: true,
            path: "editormd/lib/"
        });
    });
</script>
</body>
</html>