<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="styles.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="/static/styles.css">
<body style="margin: 0" id="body">
<form action="/recipe/add">
    <dialog id="addform">
        <div class="form-element">
            Назва
            <input name="name" type="text">
        </div>
        <div class="form-element">
            Опис
            <textarea name="description" id="description"></textarea>
        </div>
        <div class="form-element">
            Посилання на картинку
            <input name="image" type="text">
        </div>
        <input type="hidden" name="rating" value="0.0">
        <div class="modal-buttons">
            <button type="submit" id="saveButton">Зберегти</button>
            <button id="closeButton" onclick="closeForm()">Відмінити <i class="fa-solid fa-xmark"></i></button>
        </div>
    </dialog>
</form>
<div id="main">
    <div id="leftmenu">
        <img src="Vector.svg" height="20px" alt="">
        <div>Cooking.Club</div>
        <img src="Vector%201.svg" alt="">
    </div>
    <div id="rightmenu">
        <img src="Vector3.svg" height="25px" alt="">
        <div id="search">
            <img src="Vector4.svg" id="lupa">
            <div style="font-size: 16px">Пошук</div>
        </div>
        <div id="tags">
            #Tags
        </div>
        <button ONCLICK="showDialog()">
            +
        </button>
    </div>
</div>

<div style="margin: 20px" id="recipes">
    <div th:each="recipe : ${recipes}" class="recipe">
        <img style="height: 200px"
             th:src="${recipe.image}"
             alt="">
        <div class="author">
            <img style="width: 50px; border-radius: 150px"
                 src="https://s3-alpha-sig.figma.com/img/23ac/d8e1/1a66b20efc0e5e7719518a7e80e3dd5a?Expires=1724630400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=FsrWLDANTE1muyKbNU8ZtOTq4U~VdKMNGOMcSWdAUzacg51Gwuqau-vUhBQTqqMBcP9JAv4XRb61z8WPCSPEj6cxYKwUHpRsiOYI4FoRCIdUUeL1Gc7ivnPvM6OocBGiikes7EOpNSIlFLObZhw5j34UiMxSNzB1DEuTn001zYTwTg7VR8n4sq1lAF4rc~Zl92oMHGiUAs3mUzIDidtx3HsCuNT7LgaLP1-ebNNX0f6ehNMLNEv875JGhPumYhfzvhLkGZ-ru2U5M8zFJTgdTjObb1jNUJrtRiFJhEmRjGrrFvZ~4~GjCIe8U4SZMKTs-gHyLSallWQhH6O4K48kVg__"
                 alt="">
            Bananana
            <div style="height: 30px">
                <img th:if="${recipe.rating} > 1.0" src="Star.svg" alt="">
                <img th:unless="${recipe.rating} > 1.0" src="Star_empty.svg" alt="">
                <img th:if="${recipe.rating} > 2.0" src="Star.svg" alt="">
                <img th:unless="${recipe.rating} > 2.0" src="Star_empty.svg" alt="">
                <img th:if="${recipe.rating} > 3.0" src="Star.svg" alt="">
                <img th:unless="${recipe.rating} > 3.0" src="Star_empty.svg" alt="">
                <img th:if="${recipe.rating} > 4.0" src="Star.svg" alt="">
                <img th:unless="${recipe.rating} > 4.0" src="Star_empty.svg" alt="">
                <img th:if="${recipe.rating} > 5.0" src="Star.svg" alt="">
                <img th:unless="${recipe.rating} > 5.0" src="Star_empty.svg" alt="">
            </div>
        </div>
        <div th:text="${recipe.name}" class="recipe-title"></div>
        <div th:text="${recipe.description}" class="recipe-desc"></div>
    </div>
</div>

<script>


    function showDialog() {
        document.getElementById("addform").style.visibility = 'visible'
        // console.log("PLEASE PLEASE PLEASE OPEN IT PLEASEEE")
    }

    function closeForm() {
        document.getElementById("addform").style.visibility = 'hidden'
    }

</script>
<script src="https://kit.fontawesome.com/89a549f415.js" crossorigin="anonymous"></script>
</body>
</html>